
:root{
    --c:#318eb14f;
    --c1:#6bcaff;
    --p:1rem;
    --m:1rem;
}


*{
      margin:0px;
      padding:0px;
      color:white;
   }

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width:100%;
}
.hero{
    background-image:url("./images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;    
}
 nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin: 0rem 2rem;
    align-items: center;
    background: var(--c);
    border-radius: 25px;
    position: relative;
    top: 2rem;
    user-select: none;
    position: fixed;
    width: 90%;
 }
  h1{
    font-size: 2rem;
 }
span{
    color:var(--c1);
    font-size: 2.5rem;
}
ul{
    display: flex;
    justify-content: space-between;
}
ul li{
    list-style: none;
    margin: 0rem 1.5rem;

}
li a{
    text-decoration: none;
    font-weight: 600;
    transition: 0.6s;
    display: inline-block;
    padding: 7px 9px;

}
li a:hover{
    color:white;
    transform: scale(1.6);
    border-radius: 15px;
    background:var(--c1) ;
}
.btn{
    padding: 13px 0.9rem;
    border: solid 1px var(--c1);
    background: var(--c1);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.6s;
}
.btn:hover{
    background: transparent;
}

.hero div{
    margin: 0 9rem;
    position:relative;
    top: 12rem;
    left: 4rem;
}
.hero h2{
    letter-spacing: 1px;
    font-size: 3rem;
}
.hero div p{
    position: relative;
    top :1rem;
}
#skills{
    background: #0a0e10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;    
}
.cards{
    background:  #19566d;
    position: relative;
    width: 13rem;
    height: 16rem;
    top: 40%;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 3px;
    transition: 0.5s;

}.cards:hover{
    box-shadow: 0px 0px 7px 4px #3c9dce;
    transform: scale(1.3);
}
.cards img{
    position: relative;
    margin: 12px 15px;
    width: 11rem;
    height: 9rem;
    border:solid #0000ff80 1px ;
    border-radius: 12px;
}
.cards h2{
    margin: 0 39px;
}
#service{
    background: #0a0e10;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
#service .cards2 img{
    width: 22rem;
    height: 22rem;
    border: #19566d solid 1px;
    border-radius: 20px;
    position: relative;
    top: 0%;
    left: 24rem;
}
.cards2{
  background:  #243a49c4;
    position: relative;
    width: 46rem;
    height: 22em;
    top: 32%;
    border-radius: 20px;
    box-shadow: 0px -1px 16px 2px #528698;
    transition: 0.9s;

}.cards2:hover{
    box-shadow: 0px -1px 16px 2px var(--c1);
    transform: scale(1.1);
}
.cards2 h4{
    position: relative;
    bottom: 19rem;
    padding: 9px 41px;
}
.cards2 h3{
    position: relative;
    bottom: 15rem;
    left: 6rem;
    padding: 13px 0.9rem;
    border: solid 1px var(--c1);
    background: var(--c1);
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.4s;
    width: 13rem;
}.cards2 h3:hover{
        background: transparent;
}
.cards2 h3 a{
    text-decoration: none;
}
.btn a {
    text-decoration: none;
}